body {
  background-color: rgb(8, 42, 78);
}

* {
  padding: 0;
  margin: 0;
  color: white;
  font-size: 20px;

}

input,
button {
  width: 90%;
  height: 40px;
  border-radius: 10px;

}

.bigContainer {
  text-align: center;
  background-color: rgb(55, 59, 63);
  border: 3px solid white;
  width: 400px;
  margin: 0 auto;
  margin-top: 2rem;
  border-radius: 0px 40px 0px;

}

.titrcontainer {

  display: flex;
  justify-content: start;
  padding-left: 1rem;
  margin-bottom: 2rem;
  padding-bottom: 10px;
  padding-top: 1rem;
  border-bottom: 1px solid grey;
  align-items: center;
}

.titrcontainer h2 {
  order: 1;
  margin-left: 15px;
  color: rgb(2, 253, 2);

}

.searchInp {
  background: none;
  border: 1px solid grey;
  text-indent: 10px;

}


.titrcontainer .fa {
  cursor: pointer;
  color: rgb(2, 253, 2);
}

.bigContainer .seconBigContainer .firstFormContainer {

  text-align: center;
  margin-bottom: 2rem;


}

.bigContainer .seconBigContainer .firstFormContainer .errorText {

  border: 1px solid rgb(232, 76, 15);
  width: 90%;
  margin: 0 auto;
  display: flex;
  align-items: center;
  margin-bottom: 1rem;
  height: 30px;
  padding-top: 10px;
  border-radius: 10px;
  color: rgb(224, 71, 6);
  display: none;
  overflow-y: hidden;

}



.locButton {

  background-color: rgb(2, 253, 2);
  color: black;
  margin-bottom: 1rem;
  font-size: 16px;
  cursor: pointer;
}

.seprator {

  margin: auto;
  margin-bottom: 1.5rem;
  background-color: grey;
  width: 90%;
  color: grey;
  height: 1px;
  display: flex;
  justify-content: center;
  position: relative;


}

.seprator::before {

  content: "or";
  display: flex;
  justify-content: center;
  align-items: center;
  font-size: larger;
  background: rgb(55, 59, 63);
  padding: 0 10px;

}

#seconSection {
  display: none;
}

.wheatherIcon {

  width: 180px;
  text-align: center;

}

.tempratoar {
  margin-top: 0;

}

.descriptionText {
  margin-top: 1rem;

}

.landtemp {
  display: flex;
  justify-content: center;
  margin-top: 1rem;
}

.landtemp .cityLand {
  margin-left: 10px;
}

.status {

  display: flex;
  justify-content: space-around;
  margin-top: 30px;
  margin-bottom: 20px;
  border-top: 1px dotted grey;
}

.status .likes {
  display: flex;
  align-items: center;
  padding: 5px;

}

.humidity {

  display: flex;
  align-items: center;
  padding: 5px;

}

.bxs-droplet-half {

  font-size: xx-large;
  margin-right: 10px;
}

.bxs-thermometer {
  font-size: xx-large;
  margin-right: 10px;
}

.inputAnimation.loading {
  position: relative;
}

.inputAnimation.loading::after {

  content: "";
  width: 100%;
  height: 1px;
  bottom: 0;
  left: 50%;
  transform: translateX(-50%);
  position: absolute;
  animation: mostafa 1s ease infinite;
  background-color: rgb(2, 253, 2);

}

@keyframes mostafa {

  0% {
    width: 10%;
  }

  50% {
    width: 86%;
  }

  100% {
    width: 10%;
  }
}